<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}} <!-- Add the head.hbs partial here -->
</head>
<body>
  {{> nav}} <!-- Add the nav.hbs partial here -->
  {{{body}}} <!-- Main content will be rendered here -->
  {{> footer}} <!-- Add the footer.hbs partial here -->
</body>
</html>