
    <link rel="stylesheet" href="../resources/css/home.css">
    <div class="home-container">
        <h1>Welcome to Audionyx!</h1>
        <h2>Your Ultimate 3D Audio Visualizer</h2>

        <p>Audionyx is an immersive 3D Audio Visualizer that dynamically visualizes audio from online media sources, using them to create stunning real-time visualizations by processing audio from various user-provided media links.</p>

        <div class="features">
            <h3>Features</h3>
                <ul>
                    <li>Real-Time Visualization: Transform audio characteristics into captivating 3D graphics.</li>
                    <li>Cross-Platform Support: Accepts links from various online media sources (YouTube, Spotify, and locally).</li>
                    <li>Dynamic Response: Visuals that respond to audio tempo, beats, and intensity.</li>
                </ul>   
    </div>
    <div class="technologies">
        <h3>Technologies Used</h3>
        <p>This project utilizes several modern technologies to deliver its immersive experience:</p>
        <ul>
            <li><strong>Backend:</strong> 
                <em>Express.js</em>, 
                <em>Node.js</em>, 
                <em>pg-promise</em>, 
                <em>axios</em>, 
                <em>express-session</em>, 
                <em>bcryptjs</em>, 
                and <em>express-handlebars</em>
            </li>
            <li><strong>Frontend:</strong> 
                <em>JavaScript</em>, 
                <em>Three.js</em> (for 3D rendering)
            </li>
            <li><strong>Development Tools:</strong> 
                <em>Mocha</em>, 
                <em>Chai</em>, 
                <em>Chai-HTTP</em>, 
                <em>npm-run-all</em>, 
                <em>nodemon</em>
            </li>
            <li><strong>API & Media Integration:</strong> 
                Uses <em>Axios</em> for making HTTP requests, enabling dynamic streaming of audio from media sources like YouTube and Spotify.
            </li>
        </ul>           
            <p style="color: white;">For more information, see to the GitHub link at the bottom of this page.</p>
    </div>
