<div class="container">
  <!-- Visualizer -->
  <div class="mt-5">
    <h3>Visualizer Home</h3>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.3.0/simplex-noise.min.js"></script>
  
      <script src="/js/visualizer.js"></script>

      <div id="header">
        <label for="audio" id="label">Select file</label>
        <input type="file" id="audio" accept=".mp3">
        <div>Click for play/pause</div>
    </div>

    <div id="visualiser"></div>

  </div>
</div>
