<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="../resources/css/registerstyle.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {{> message}} <!-- if booked -->
        <div class="mt-5 register-container">
            <h2>Welcome to Audionyx!</h2>
            <h5>Sign up here to start your visual audio experience.</h5>
            <form action="/register" method="POST">
                <div class="form-group mb-3">
                    <label for="username">Username</label>
                    <input type="username" id="username" name="username" class="form-control" required>
                    <small class="form-text text-muted">We'll never share your information with anyone else.</small>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button> <!-- Changed to "Register" -->
            </form>
            <div class="form-text text-muted">
                <p>Already have an account? <a href="/login">Login here</a>!</p>
            </div>
        </div>
    </div>
</body>

