<style>
  nav {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    font-size: 15px; /* Corrected from text-size to font-size */
  }

  .navbar {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }

  .navbar-brand {
    font-size: 20px; /* Slightly larger than navbar links */
    font-weight: bold;
    color: #9a69ba; /* Static purple color */

  }

  /* Make nav links smaller than the brand name */
  .navbar-nav .nav-link {
    font-size: 15px; 
    color: #fff;
    transition: color 0.3s ease; /*transition time to purple on hover*/
  }
  /* When hovering with cursor, change to purple*/
  .navbar a:hover {
    color: #843dc1; /* Dark Purple */
  }

</style>

<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom">
    <div class="container">
      <!-- Logo/Brand Name on the Left with Headphone Icon -->
      <a class="navbar-brand" href="/">
        <i class="bi bi-headphones me-2"></i> <!-- Headphone Icon -->
        Audionyx         <!-- Brand Name, Audionyx -->
      </a>

      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <!-- Link and button to home -->
            <a class="nav-link" href="/home">Visualizer</a>
          </li>
          <li class="nav-item">
            <!-- Link and button to my library -->
            <a class="nav-link" href="/mylibrary">My Library</a>
          </li>
        </ul>
        <!-- Username -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item username">
            <a class="nav-link"> -- {{username}} --</a>
          </li>
          <!-- Logout -->
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
